@model StudentRegModel
@{
    ViewData["Title"] = "AdmissionForm";
 
}
 
    <style>
        td, th {
            padding: 3px 5px !important;
        }

        th {
            border-right: 1px solid #000 !important;
        }


        body {
            margin: 0;
            padding: 0;
            background-color: #FAFAFA;
            font: 12pt "Tahoma";
        }

        * {
            box-sizing: border-box;
            -moz-box-sizing: border-box;
        }

        .page {
            width: 21cm;
            min-height: 29.7cm;
            padding: 2cm;
            margin: 1cm auto;
            border: 1px #D3D3D3 solid;
            border-radius: 5px;
            background: white;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        }

        .subpage[size="A4"] {
            padding: 1cm;
            border: 5px red solid;
            height: 256mm;
            outline: 2cm #FFEAEA solid;
        }

        /*.subpage {
                                        padding: 1cm;
                                        //border: 5px red solid;
                            height: 256mm;
                            outline: 2cm #FFEAEA solid;
                                    }*/



        @@page {
            size: A4;
            margin: 0;
        }

        @@media print {
            .page {
                margin: 0;
                border: initial;
                border-radius: initial;
                width: initial;
                min-height: initial;
                box-shadow: initial;
                background: initial;
                page-break-after: always;
            }
        }
    </style>

<form asp-action="getStudentDetailsByWRN" asp-controller="NewStudent" method="post">

    <div class="card-box mb-30">
        <div class="card">
            <div class="card-body">

                <div class="pd-20">
                    <h4 class="text-blue h4"> Search Student </h4>

                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>WRN</label>
                            <input type="text" class="form-control" name="appno" id="appno" />
                         </div>
                    </div>
                    

                    <div class="col-md-3">
                        <div class="form-group">
                            <label></label>
                            <input type="submit" class="btn btn-success btn-block text-white"
                                   id="btnl" name="commandName" value="Search" />
                        </div>
                    </div>


                </div>

                @if (Model != null)
                {
                    <div id="print1" style=" background-color: #fff; color: #000; font-family: Arial; font-size: 14px">
                        <div class="page" style="page-break-after: always;">
                            <div class="subpage">

                                <table style="width:100%">
                                    <tr>
                                        <td style="width:2%;vertical-align:top;text-align:center;border:0px solid #000;border-bottom :0px solid #000; padding:5px;margin-left:1px;  line-height:21px;font-weight:bold;font-size: 16px">
                                            <img src="https://admission.agrauniv.online/logo_header.png" style="width: 95px; height: 95px;margin-top:1px" alt="" />
                                        </td>
                                        <td style="width:98%;text-align:center;vertical-align:top;border:0px solid #000;border-bottom :0px solid #000;padding:5px;margin-left:1px;  line-height:30px;font-weight:bold;font-size:21px">
                                            DR. BHIMRAO AMBEDKAR UNIVERSITY, AGRA <br />
                                            डॉ० भीमराव आंबेडकर विश्वविद्यालय, आगरा<br />
                                            (FORMERLY AGRA UNIVERSITY, AGRA ) <br />

                                        </td>

                                    </tr>


                                </table>


                                <table style="width:100%;margin-top:10px">
                                    <tr>
                                        <td style="width:50%;text-align:left;white-space:nowrap">
                                            <span style="text-align:center;vertical-align:top;border:0px solid #000;border-bottom :0px solid #000;padding:5px;margin-left:1px;  line-height:0px;font-weight:bold;font-size: 14px">
                                                <!--WRN No. &nbsp;  Model.ApplicationNo-->
                                            </span>
                                        </td>
                                        <td style="width:50%;text-align:right">

                                        </td>


                                    </tr>

                                </table>
                                <hr style="margin:0.3rem 0 0.5rem 0" />
                                <table style="width:100%">
                                    <tr>

                                        <td style="text-align:center;vertical-align:top;border:0px solid #000;border-bottom :0px solid #000;padding:5px;margin-left:1px;  font-weight:bold;font-size: 18px">
                                            <h2 style="font-family:Arial;font-weight:bold;font-size:16px">Admission Cum Web Registration Form - 2023 </h2>
                                        </td>

                                    </tr>
                                </table>


                                <table style="width: 100%;border-collapse: collapse;" class="table table-bordered">
                                    <tbody>
                                        <tr>

                                            <th style="width:20%;vertical-align:top;text-align:left  ;border:1px solid #000;border-bottom :0px solid #000; padding:5px;margin-left:1px;  font-weight:bold;font-size: 16px;color:darkred"> WRN No.</th>
                                            <td   style="width:60%;vertical-align:top;border:1px solid #000;border-bottom :1px solid #000;padding:5px;margin-left:1px;  line-height:18px;font-weight:bold;font-size: 16px; text-transform:uppercase;color:darkred">
                                                @Model.ApplicationNo
                                            </td>

                                            <td style="vertical-align: top;;border:1px solid #000 " rowspan="9" width="150">

                                                <img id="Image1" src="@("https://admission.agrauniv.online"+ Model.Std_PHOTO)" alt="Photograph" style="width:150px;" /><br />


                                            </td>

                                        </tr>

                                        <tr>

                                            <th style="width:10%;vertical-align:top;text-align:left  ;border:1px solid #000;border-bottom :0px solid #000; padding:5px;margin-left:1px;  font-weight:bold;font-size: 13px"> Name </th>

                                            <td style="width:60%;vertical-align:top;border:1px solid #000;border-bottom :1px solid #000;padding:5px;margin-left:1px;  line-height:16px;font-weight:bold;font-size: 13px; text-transform:uppercase">
                                                @Model.Name
                                            </td>
                                        </tr>
                                        <tr>

                                            <th style="width:10%;vertical-align:top;text-align:left  ;border:1px solid #000;border-bottom :0px solid #000; padding:5px;margin-left:1px;  font-weight:bold;font-size: 13px"> Password </th>

                                            <td style="width:60%;vertical-align:top;border:1px solid #000;border-bottom :1px solid #000;padding:5px;margin-left:1px;  line-height:16px;font-weight:bold;font-size: 13px; text-transform:uppercase">
                                                @Model.PWD
                                            </td>
                                        </tr>

                                        <tr>
                                            <th style="width:10%;vertical-align:top;text-align:left  ;border:1px solid #000;border-bottom :1px solid #000; padding:5px;margin-left:1px;  font-weight:bold;font-size: 13px"> Father's Name</th>
                                            <td style="width:60%;vertical-align:top;border:1px solid #000;border-bottom :1px solid #000;padding:5px;margin-left:1px;  line-height:16px;font-weight:bold;font-size: 13px; text-transform:uppercase">
                                                @Model.FatherName
                                            </td>
                                        </tr>

                                        <tr>
                                            <th style="width:10%;vertical-align:top;text-align:left  ;border:1px solid #000;border-bottom :1px solid #000; padding:5px;margin-left:1px;  font-weight:bold;font-size: 13px"> Mother's Name</th>
                                            <td style="width:60%;vertical-align:top;border:1px solid #000;border-bottom :1px solid #000;padding:5px;margin-left:1px;  line-height:16px;font-weight:bold;font-size: 13px; text-transform:uppercase">
                                                @Model.MotherName
                                            </td>
                                        </tr>
                                        <tr>

                                            <th style="width:10%;vertical-align:top;text-align:left  ;border:1px solid #000;border-bottom :1px solid #000; padding:5px;margin-left:1px;  font-weight:bold;font-size: 13px"> Date of Birth</th>
                                            <td style="width:60%;vertical-align:top;border:1px solid #000;border-bottom :1px solid #000;padding:5px;margin-left:1px;  line-height:16px;font-weight:bold;font-size: 13px; text-transform:uppercase">
                                                @Model.DOB 
                                            </td>
                                        </tr>


                                        <tr>

                                            <th style="width:10%;vertical-align:top;text-align:left  ;border:1px solid #000;border-bottom :0px solid #000; padding:5px;margin-left:1px;  font-weight:bold;font-size: 13px"> Email Id</th>
                                            <td style="width:60%;vertical-align:top;border:1px solid #000;border-bottom :0px solid #000;padding:5px;margin-left:1px;  line-height:16px;font-weight:bold;font-size: 13px;">
                                                @Model.Email

                                            </td>
                                        </tr>



                                        <tr>

                                            <th style="width:10%;vertical-align:top;text-align:left  ;border:1px solid #000;border-bottom :0px solid #000; padding:5px;margin-left:1px;  font-weight:bold;font-size: 13px"> Gender</th>
                                            <td style="width:60%;vertical-align:top;border:1px solid #000;border-bottom :0px solid #000;padding:5px;margin-left:1px;  line-height:16px;font-weight:bold;font-size: 13px; text-transform:uppercase">

                                                @Model.Gender

                                            </td>


                                        </tr>
                                        <tr>
                                            <th style="width:10%;vertical-align:top;text-align:left  ;border:1px solid #000;border-bottom :0px solid #000; padding:5px;margin-left:1px;  font-weight:bold;font-size: 13px"> Mobile</th>
                                            <td style="width:60%;vertical-align:top;border:1px solid #000;border-bottom :0px solid #000;padding:5px;margin-left:1px;  line-height:16px;font-weight:bold;font-size: 13px; text-transform:uppercase">
                                                @Model.Mobile

                                            </td>
                                        </tr>

                                        <tr>

                                            <th style="width:10%;vertical-align:top;text-align:left  ;border:1px solid #000;border-bottom :0px solid #000; padding:5px;margin-left:1px;  font-weight:bold;font-size: 13px">Alter.Mobile</th>
                                            <td colspan="2" style="width:60%;vertical-align:top;border:1px solid #000;border-bottom :0px solid #000;padding:5px;margin-left:1px;  line-height:16px;font-weight:bold;font-size: 13px; text-transform:uppercase">
                                                @Model.AltMobile
                                            </td>
                                        </tr>


                                        <tr>
                                            <th style="width:10%;vertical-align:top;text-align:left  ;border:1px solid #000;border-bottom :0px solid #000; padding:5px;margin-left:1px;  font-weight:bold;font-size: 13px">Aadhar Card </th>
                                            <td colspan="2" style="width:60%;vertical-align:top;border:1px solid #000;border-bottom :0px solid #000;padding:5px;margin-left:1px;  line-height:16px;font-weight:bold;font-size: 13px; text-transform:uppercase">
                                                @Model.Aadhar
                                            </td>

                                        </tr>
                                        <tr>
                                            <th style="width:10%;vertical-align:top;text-align:left  ;border:1px solid #000;border-bottom :0px solid #000; padding:5px;margin-left:1px;  font-weight:bold;font-size: 13px"> Category </th>
                                            <td colspan="2" style="width:60%;vertical-align:top;border:1px solid #000;border-bottom :0px solid #000;padding:5px;margin-left:1px;  line-height:16px;font-weight:bold;font-size: 13px; text-transform:uppercase">

                                                @Model.Category
                                            </td>

                                        </tr>
                                        <tr>
                                            <th style="width:10%;vertical-align:top;text-align:left  ;border:1px solid #000;border-bottom :0px solid #000; padding:5px;margin-left:1px;  font-weight:bold;font-size: 13px"> SubCategory </th>
                                            <td colspan="2" style="width:60%;vertical-align:top;border:1px solid #000;border-bottom :0px solid #000;padding:5px;margin-left:1px;  line-height:16px;font-weight:bold;font-size: 13px; text-transform:uppercase">

                                                @Model.SubCategory
                                            </td>

                                        </tr>

                                        <tr>
                                            <th style="width:10%;vertical-align:top;text-align:left  ;border:1px solid #000;border-bottom :0px solid #000; padding:5px;margin-left:1px;  font-weight:bold;font-size: 13px"> Communication Address </th>
                                            <td colspan="2" style="width:60%;vertical-align:top;border:1px solid #000;border-bottom :0px solid #000;padding:5px;margin-left:1px;  line-height:16px;font-weight:bold;font-size: 13px; text-transform:uppercase">

                                                <p>
                                                    @Model.CurrentAddress
                                                    State:- @Model.CState
                                                    City:- @Model.CDistrict
                                                    PinCode:- @Model.CPin
                                                </p>



                                            </td>

                                        </tr>

                                        <tr>
                                            <th style="width:10%;vertical-align:top;text-align:left  ;border:1px solid #000;border-bottom :1px solid #000; padding:5px;margin-left:1px;  font-weight:bold;font-size: 13px"> Permanent Address </th>
                                            <td colspan="2" style="width:60%;vertical-align:top;border:1px solid #000;border-bottom :1px solid #000;padding:5px;margin-left:1px;  line-height:16px;font-weight:bold;font-size: 13px; text-transform:uppercase">

                                                <p>
                                                    @Model.ParmanentAddress
                                                    State:- @Model.PState
                                                    City:- @Model.PDistrict
                                                    PinCode:-@Model.PPin
                                                </p>
                                            </td>

                                        </tr>


                                    </tbody>
                                </table>
                                <div class="row">
                                    <div class="col-md-2"></div>
                                    <div class="col-md-2"></div>
                                    <div class="col-md-4"><a href="javascript:void(0)" onclick="return DocumentPrint('')" class="btn btn-primary btn-block text-white"> Print</a> </div>
                                    <div class="col-md-4"></div>
                                </div>

                            </div>
                        </div>
                    </div>

                }
                    </div>
                    </div>
                    </div>
                
</form>
                <script language="javascript" type="text/javascript">

                    function windowclose() {
                        window.close();


                    }

                    function DocumentPrint(name) {

                        var display_settings = "toolbar=yes,location=no,directoried=yes,menubar=yes,scrollbars=yes,top=25,left=100,height=500 width=800,resizable=yes";
                        var content = document.getElementById("print1").innerHTML;
                        var docprint = window.open('', '', display_settings);
                        docprint.document.write('<html><head></head><form onLoad="self.print();"><center>' + content + '</center></form></html>');
                        docprint.print();
                        docprint.document.close();
                        docprint.focus();
                        return false;
                    }


                </script>


 