@model SearchStudentModel
@{
    ViewData["Title"] = "StudentNewAdded"; ViewData["ActiveMenu"] = "BedList";
}

<!-- Simple Datatable start -->
<div class="card-box mb-30">
    <div class="pd-20">
        <h4 class="text-blue h4">Registered Student List</h4>

    </div>
    <div class="pb-20">
        <table class="data-table table stripe hover nowrap">
            <thead>
                <tr>
                    <th>Type</th>
                    <th class="table-plus datatable-nosort">WRN</th>
                    <th>Name</th>
                    <th>Father Name</th>
                    <th>Mother Name</th>
                    <th>Gender</th>
                    <th>Mobile</th>
                    <th>DOB</th>
                    <th>Adhar</th>
                    <th>Created</th>
                   

                </tr>
            </thead>
            <tbody>
                @if (Model.studentList != null && Model.studentList.Count > 0)
                {
                    foreach (var item in Model.studentList)
                    {
                        <tr>
                            <td>@item.CourseTypeName</td>
                            <td class="table-plus">@item.ApplicationNo</td>
                            <td>@item.Name</td>
                            <td>@item.FatherName</td>
                            <td>@item.MotherName</td>
                            <td>@item.Gender</td>
                            <td>@item.Mobile</td>
                            <td>@item.DOB.Value.ToString("dd MMM yyyy")</td>
                            <td>@item.Aadhar</td>
                            <td>@item.CreatedDate</td>
                        </tr>
                    }



                }

            </tbody>
        </table>
    </div>
</div>
