@model SearchStudentModel
@{
    ViewData["Title"] = "StudentNewAdded"; ViewData["ActiveMenu"] = "BedList";
}

<!-- Simple Datatable start -->

<form asp-action="SearchStudent" asp-controller="NewStudent" method="post">
    
<div class="card-box mb-30">
        <div class="card">
            <div class="card-body">

    <div class="pd-20">
        <h4 class="text-blue h4">Search Registered Students</h4>

    </div>

        <div class="row" >
          <div class="col-md-8">
                <div class="form-group">
                    <label>Course Type</label>
                    <select class="form-select" aria-label="Default select example" asp-items="@(new SelectList(ViewBag.CourseType,"CourseTypeId","CourseTypeName"))" asp-for="CourseTypeId">
                    </select>


                    
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Course</label>
                            <select class="form-select" aria-label="Default select example" asp-for="CourseID" asp-items="@(new SelectList(ViewBag.Courses,"CourseId","CourseName"))">
                            </select>
                </div>
            </div>


        </div>


        <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                    <label>Search</label>
                     <input type="text" class="form-control" placeholder="Please enter Name/WRN/Mobile/Aadhar/Course Name"  asp-for="SearchText"  />
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label></label>
                    <input type="submit" class="btn btn-success btn-block text-white"
                           id="btnl" name="commandName" value="Search" />
                </div>
            </div>


        </div>
        <div class="row">
    <div class="pb-20">
        <table class="data-table table stripe hover nowrap">
            <thead>
                <tr>
                    <th>Course</th>
                    <th class="table-plus datatable-nosort">WRN</th>
                    <th>Name</th>
                    <th>Father Name</th>
                    <th>Gender</th>
                    <th>Mobile</th>
                    <th>Photo</th>
                    <th>CRN</th>
                     <th> Profile</th>
                   <!--<th> Qualification</th>
                   <th> Weightage</th>-->
                 </tr>
            </thead>
            <tbody>
                @if (Model.studentList != null && Model.studentList.Count > 0)
                {
                    foreach (var item in Model.studentList)
                    {
                        <tr>
                            <td>@item.CourseName</td>
                            <td class="table-plus">@item.ApplicationNo</td>
                            <td>@item.Name</td>
                            <td>@item.FatherName</td>
                            <td>@item.Gender</td>
                            <td>@item.Mobile</td>
                           <td> <img src="@item.Std_PHOTO" width="50" height="50" id="imgpreview1"></td>
                           <td>@item.CRN</td>
                                            <td>
                                                <a asp-action="actionSearchStudent"  asp-controller="NewStudent" asp-route-tid="@(item.EncrptedData)" asp-route-cid="1" target="_blank">
                                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                </a>
                                            </td>

                                            @*<td>
                                                <a asp-action="actionSearchStudent" asp-controller="NewStudent" asp-route-tid="@(item.EncrptedData)" asp-route-cid="2" target="_blank">
                                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                </a>
                                            </td>
                                            <td>
                                                <a>
                                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                </a>
                                            </td>*@
                        </tr>
                    }



                }

            </tbody>
        </table>
    </div>
    </div>
</div>
</div>
<</div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {


            $("#CourseTypeId").change(function (e) {
                var models = {};
                models.CatId = $(this).val();

                       $.ajax({
                                type: "POST",
                                url: '@Url.Content("~/master/getCourses")',
                                contentType: "application/json; charset=utf-8",
                                dataType: "json",
                                processData: false,
                                data: JSON.stringify(models),
                                //headers: { "Authorization": localStorage.getItem('token') },
                           success: function (result) {
                               $('#CourseID')
                                .empty()
                                .append('<option selected="selected" value="0">Select Course</option>');

                                if (result != null && result.length > 0) {
                                var rw = 0;

                                var customers = result ;

                                var rows = '';
                                    for (var i = 0; i < result.length; i++) {

                                var opt = new Option(customers[i].CourseName, customers[i].CourseId);
                                document.getElementById("CourseID").options.add(opt);

                                     }
                                 }

                           }, error: function () {
                              alert("There was error !");
                              }
                       });
            });

    });

    </script>

</form>