@model SearchStudentModel
@{
    ViewData["Title"] = "StudentNewAdded"; ViewData["ActiveMenu"] = "UGPG";
}

<!-- Simple Datatable start -->

<form asp-action="UgPGChange" asp-controller="NewStudent" method="post">

    <div class="card-box mb-30">
        <div class="card">
            <div class="card-body">

                <div class="pd-20">
                    <h4 class="text-blue h4">Change CourseType </h4>

                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Course Type</label>
                            <select class="form-select" aria-label="Default select example" asp-items="@(new SelectList(ViewBag.CourseType,"CourseTypeId","CourseTypeName"))" asp-for="CourseTypeId">
                            </select>



                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Course</label>
                           <input type="text" class="form-control" asp-for="@Model.SearchText" />
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label></label>
                            <input type="submit" class="btn btn-success btn-block text-white"
                                   id="btnl" name="commandName" value="Search" />


                            <input type="submit" class="btn btn-success btn-block text-white"
                                   id="btnl" name="commandName" value="Save" />

                        </div>
                    </div>


                </div>



                <div class="row">
                    <div class="pb-20">
                        <table class="table table-bordered  nowrap">
                            <thead class="table-primary">
                                <tr>
                                    <th style="width:5%">SrNo.</th>
                                    <th style="width:20%">CourseTypeId</th>
                                    <th style="width:25%">Name</th>
                                    
                                    <th style="width:20%">FatherName</th>
                                    <th style="width:20%">Mobile</th>
                                    <th style="width:10%">Aadhar</th>

                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    var srno = 1;
                                }
                                @if (Model.studentList != null && Model.studentList.Count > 0)
                                {
                                    foreach (var item in Model.studentList)
                                    {
                                        <tr>
                                            <td>@srno</td>
                                            <td>@item.CourseTypeID</td>
                                            <td>@(item.Name)</td>
                                            <td>@item.FatherName</td>
                                            <td>@item.Mobile</td>
                                            <td>@item.Aadhar</td>


                                        </tr>
                                        srno = srno + 1;
                                    }



                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {


            $("#CourseTypeId").change(function (e) {
                var models = {};
                models.CatId = $(this).val();

                $.ajax({
                    type: "POST",
                    url: '@Url.Content("~/master/getCourses")',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    processData: false,
                    data: JSON.stringify(models),
                    //headers: { "Authorization": localStorage.getItem('token') },
                    success: function (result) {
                        $('#CourseID')
                            .empty()
                            .append('<option selected="selected" value="0">Select Course</option>');

                        if (result != null && result.length > 0) {
                            var rw = 0;

                            var customers = result;

                            var rows = '';
                            for (var i = 0; i < result.length; i++) {

                                var opt = new Option(customers[i].CourseName, customers[i].CourseId);
                                document.getElementById("CourseID").options.add(opt);

                            }
                        }

                    }, error: function () {
                        alert("There was error !");
                    }
                });
            });

        });

    </script>

</form>