@model StudentApplyCourseModel
@{
    ViewData["Title"] = "AdmissionForm";
}


<form asp-action="addCourse" asp-controller="StudentCourse" method="post">

    <div class="container p-3">
        <ul class="steps">
            <li class="step">
                <div class="step-content">
                    <span class="step-circle">1</span>
                    <span class="step-text">Profile</span>
                </div>

            </li>

            <li class="step">
                <div class="step-content">
                    <span class="step-circle">2</span>
                    <span class="step-text">Qualification</span>
                </div>

            </li>
            <li class="step">
                <div class="step-content">
                    <span class="step-circle">3</span>
                    <span class="step-text">Weightage</span>
                </div>

            </li>
            <li class="step">
                <div class="step-content">
                    <span class="step-circle">4</span>
                    <span class="step-text">Photo</span>
                </div>

            </li>
            <li class="step step-active">
                <div class="step-content">
                    <span class="step-circle">5</span>
                    <span class="step-text">Add Course</span>
                </div>
            </li>

            <li class="step">
                <div class="step-content">
                    <span class="step-circle">6</span>
                    <span class="step-text">Add College</span>
                </div>

            </li>
            <li class="step">
                <div class="step-content">
                    <span class="step-circle">7</span>
                    <span class="step-text">Add Subject</span>
                </div>

            </li>
            <li class="step">
                <div class="step-content">
                    <span class="step-circle">8</span>
                    <span class="step-text">View Form</span>
                </div>

            </li>

            <li class="step">
                <div class="step-content">
                    <span class="step-circle" style="font-size:12px;color:crimson;font-weight:bold">Log Out</span>
                    <span class="step-text">
                        <a asp-action="stdlogout" asp-controller="Registration" style="font-size:12px;color:crimson;font-weight:bold;font-style:normal">Click Here !</a>

                    </span>
                </div>

            </li>
        </ul>


        <div class="text-center mt-5">
            <h2>Admission Cum Web Registration Form - (2023)</h2>

        </div>
        <div class="card">
            <div class="card-header bg-primary text-white">
                Registration
            </div>
            <div class="card-body">
                <h5 class="card-title">
                    Apply for Course
                </h5>
                <hr />


                @if (Model.Status < 0)
                {
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <span class="text-danger" style="font-weight:bold">@Model.Msg</span>
                            </div>
                        </div>
                    </div>
                }

                <div class="row">
                    @Html.HiddenFor(x=>x.EncrptedData)
                    @Html.HiddenFor(x=>x.ApplicationNo)

                    
                    
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Course: <span class="text-danger">*</span></label>
                            <select  class="form-select" aria-label="Default select example" asp-for="CourseID" asp-items="@(new SelectList(ViewBag.Courses,"CourseId","CourseName"))">
                            </select>
                            <span class="text-danger" asp-validation-for="CourseID"></span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label> &nbsp;</label>
                            <input type="button" class="btn btn-primary btn-block text-white"
                                   id="btnadd" name="commandName" value="Add" onclick="return showEligbility();" />
                        </div>
                    </div>
                    <div class="col-md-4" hidden>

                        <select  class="form-select" aria-label="Default select example" id="courseeligbility" asp-items="@(new SelectList(ViewBag.Eligbility,"CourseId","Eligibility"))">
                        </select>

                    </div>
                </div>
                <div class="row">
                    
                    <div class="col-sm-12 text-center border  p-2">

                        <table class="data-table table table-bordered stripe hover nowrap" id="tbldata">
                            <thead>
                                <tr>
                                    <th class="table-plus datatable-nosort">Sr.No.</th>
                                    <th>Course</th>
                                    <th>Fees</th>
                                    <th>TransactionNo</th>
                                    <th>Payment Date</th>
                                    <th>CRN</th>
                                    <th colspan="2">Action</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    var srno = 0;
                                }
                                @if (Model.studentapplyList!=null && Model.studentapplyList.Count > 0)
                                {
                                    
                                    foreach (var item in Model.studentapplyList)
                                    {
                                        <tr>
                                            <td class="table-plus">@(srno+1)</td>
                                            <td>@item.CourseName</td>
                                            <td>@item.Fees</td>
                                            <td>@item.TransactionID</td>
                                            <td>@item.PaidON</td>
                                            <td style="font-weight:bold" class="text-decoration-underline" >@item.CRN</td>
                                            <td>
                                                @if (item.IsPaid==0)
                                                {
                                                    <input type="checkbox" asp-for="@Model.studentapplyList[srno].IsFor_Paid" checked="@item.IsFor_Paid" style= "@(item.Status ? "display:none" : "" )"  />
                                                    <div style="@((item.Status && item.IsPaid==0) ? "display:block" : "display:none" )">@(item.PaymentStatus==1?"Payment Under Process":(item.PaymentStatus==3?"Transaction failed":""))</div>
                                                }
                                                else
                                                {
                                                    <a asp-action="stdCollegeSelection" asp-controller="StudentCourse" asp-route-tid="@Model.EncrptedData"   asp-route-cid="@item.CourseId" class="btn btn-danger btn-block text-white">Select Colleges</a>
                                                }
                                                
                                                <input type="hidden" asp-for="@Model.studentapplyList[srno].STD_COUSEID" />
                                                <input type="hidden" asp-for="@Model.studentapplyList[srno].Fees" />
                                                <input type="hidden" asp-for="@Model.studentapplyList[srno].CourseId" />
                                                <input type="hidden" asp-for="@Model.studentapplyList[srno].IsPaid" />
                                                <input type="hidden" asp-for="@Model.studentapplyList[srno].Status" />
                                            </td>
                                            <td>
                                                <a href="javascript:void(0)" onclick="return deleteCourse(@item.CourseId,'@Model.ApplicationNo',this)" class="btn btn-danger  text-white" style="@((item.IsPaid>0 || item.Status==true)?"display:none":"display:block")" >
                                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        srno = srno + 1;
                                    }
                                }

                            </tbody>
                        </table>
                    
                    
                    
                    
                    
                    </div>
                    <div class="col-md-2  ">
                        <a asp-action="stduploadDocs" asp-controller="Student" asp-route-tid="@Model.EncrptedData" class="btn btn-danger btn-block text-white">Back</a>

                    </div>
                      <div class="col-md-4">

                               @if(Model.studentapplyList!=null && Model.studentapplyList.Count(x=>x.IsPaid==0) > 0)
                                {
                                 <input type="submit" class="btn btn-success btn-block text-white"
                                  id="btnl" name="commandName" value="Save&Next" />
                                }
                        </div>

                    <div class="col-md-4">

                        @*@@if (Model.studentapplyList != null && Model.studentapplyList.Count(x => x.IsPaid == 1) > 0)
                        {*@
                            <a asp-action="stdformprev" asp-controller="StudentCourse" asp-route-tid="@Model.EncrptedData" class="btn btn-primary btn-block  text-white">Preview Form</a>
                        @*}*@
                    </div>


                </div>

                <div class="row">

                    <div class="col-sm-2">
                        <span style="color:darkred;font-size:14px">Note:</span>
                    </div>
                    <div class="col-sm-12">
                        <p style="text-align:justify">
                            Please select  
                            checkbox for make  payment.(कृपया पेमेंट करने के लिए दिए गए चेक बॉक्स पर क्लिक करें |)
                        </p>
                    </div>
                </div>

            </div>
        </div>


    </div>

    <!----------------modal popup-------------------------------------->
    <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="defaultModalLabel" aria-hidden="true" style="display:none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">



                    </h4>
                    <button type="button" id="mdlclose" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" >
                    <p id="myModalbody" style="text-align:justify"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnlclose" class="btn btn-danger" data-dismiss="modal">Close</button>
                    <input type="submit" name="commandName" value="Yes,I am eligbile" class="btn btn-primary" /> 
                </div>
            </div>
        </div>
    
    
    </div>


 <!------------------------------------------------------------>

</form>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script type="text/javascript">
   
    function deleteCourse( varcourseID,varappo,obj)
    {
       
        if( confirm("Are you sure !"))
        {
            var models = {};
            models.CourseId =Number(varcourseID);
            models.AppNo = varappo ;
        
            if (varappo != null && varappo != '') {
                $.ajax({
                    type: "POST",
                    url: '@Url.Content("~/StudentCourse/deletestdChooseCourse")',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    processData: false,
                    data: JSON.stringify(models),
                    //headers: { "Authorization": localStorage.getItem('token') },
                    success: function (result) {
                        if (result == 1) {
                            obj.parentNode.parentNode.remove();
                        }

                    }, error: function () {
                        alert("There was error !");
                    }
                });
            }
        }
       return false;
    }


    function showEligbility()
    {
        var issubmit=true;
        var courseid = $('#CourseID').val();
        var rowCount = $('#tbldata>tbody>tr').length;

        if (courseid != '0' && courseid != '')
        {
            for (var i = 0; i < rowCount;i++)
            { 
                acourseId = $('#studentapplyList_'+i+'__CourseId').val();
                if (acourseId == courseid)
                {
                    issubmit=false;
                }
            }

            if (issubmit)
            { $('#courseeligbility').val(courseid);
                var txt = $("#courseeligbility :selected").text();
                if(txt!=null && txt.length>0)
                {
                }
                else
                {
                    txt="NA";
                }

            
                $('#myModalLabel').text('Eligbility for Course ' + $('#CourseID :selected').text());
                $('#myModalbody').text(txt);
                $("#myModal1").modal("show");
            }
            else
             {
              alert("Course is already selected");
             }


        }
        else
         {
          alert("Please select Course");
         
         }


       
        
       

       
    }



</script>

<script type="text/javascript">
    $(document).ready(function () {

        

        $("#mdlclose").click(function () {

            $("#myModal1").modal("hide");

        });

        $("#btnlclose").click(function () {

            $("#myModal1").modal("hide");

        });

        $("#btnAccept").click(function () {
            document.forms[0].submit();

        }); 


    });


</script>

<style>

    #mdlclose {
        float: right;
        margin-top: -29px;
        padding: 0px 10px;
    }

</style>