@model StudentApplyCourseModel
@{
    ViewData["Title"] = "AdmissionForm";
}


<form asp-action="courseFessPay1" asp-controller="StudentCourse" method="post">

    <div class="container p-3">
        <ul class="steps">
            <li class="step">
                <div class="step-content">
                    <span class="step-circle">1</span>
                    <span class="step-text">Profile</span>
                </div>

            </li>

            <li class="step">
                <div class="step-content">
                    <span class="step-circle">2</span>
                    <span class="step-text">Qualification</span>
                </div>

            </li>
            <li class="step">
                <div class="step-content">
                    <span class="step-circle">3</span>
                    <span class="step-text">Weightage</span>
                </div>

            </li>
            <li class="step">
                <div class="step-content">
                    <span class="step-circle">4</span>
                    <span class="step-text">Photo</span>
                </div>

            </li>
            <li class="step step-active">
                <div class="step-content">
                    <span class="step-circle">5</span>
                    <span class="step-text">Add Course</span>
                </div>
            </li>

            <li class="step">
                <div class="step-content">
                    <span class="step-circle">6</span>
                    <span class="step-text">Add College</span>
                </div>

            </li>
            <li class="step">
                <div class="step-content">
                    <span class="step-circle">7</span>
                    <span class="step-text">Add Subject</span>
                </div>

            </li>
            <li class="step">
                <div class="step-content">
                    <span class="step-circle">8</span>
                    <span class="step-text">View Form</span>
                </div>

            </li>

            <li class="step">
                <div class="step-content">
                    <span class="step-circle" style="font-size:12px;color:crimson;font-weight:bold">Log Out</span>
                    <span class="step-text">
                        <a asp-action="stdlogout" asp-controller="Registration" style="font-size:12px;color:crimson;font-weight:bold;font-style:normal">Click Here !</a>

                    </span>
                </div>

            </li>
        </ul>


        <div class="text-center mt-5">
            <h2>Admission Web Registration  Form - (2023)</h2>

        </div>
        <div class="card">
            <div class="card-header bg-primary text-white">
                Registration
            </div>
            <div class="card-body">
                <h5 class="card-title">
                    Apply for Course
                </h5>
                <hr />


                @if (Model.Status < 0)
                {
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <span class="text-danger" style="font-weight:bold">@Model.Msg</span>
                            </div>
                        </div>
                    </div>
                }

                
                <div class="row">


                    <div class="col-sm-12 text-center border  p-2">
                        @Html.HiddenFor(x=>x.EncrptedData)
                        @Html.HiddenFor(x=>x.ApplicationNo)

                        <table class="data-table table table-bordered stripe hover nowrap">
                            <thead>
                                <tr>
                                    <th class="table-plus datatable-nosort">Sr.No.</th>
                                    <th>Course</th>
                                    <th>Fees</th>
                                    <th>TransactionNo</th>
                                    <th>PaidDate</th>
                                    <th colspan="2">Action</th>

                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    var srno = 0;
                                    var total = 0;
                                }
                                @if (Model.studentapplyList != null && Model.studentapplyList.Count > 0)
                                {

                                    foreach (var item in Model.studentapplyList)
                                    {
                                        <tr>
                                            <td class="table-plus">@(srno + 1)</td>
                                            <td>@item.CourseName</td>
                                            <td>@item.Fees</td>
                                            <td>@item.TransactionID</td>
                                            <td>@item.PaidON</td>
                                            <td>
                                                <input type="checkbox" asp-for="@Model.studentapplyList[srno].IsFor_Paid" checked="@item.IsFor_Paid" disabled />
                                                <input type="hidden" asp-for="@Model.studentapplyList[srno].STD_COUSEID" />
                                                <input type="hidden" asp-for="@Model.studentapplyList[srno].Fees" />
                                                <input type="hidden" asp-for="@Model.studentapplyList[srno].CourseId" />
                                            </td>
                                             
                                        </tr>
                                        srno = srno + 1;
                                        @if (item.IsFor_Paid && item.IsPaid==0)
                                        {
                                            total = total + (int)item.Fees;
                                        }
                                    }
                                }
                                <tr>
                                    <td colspan="2" style="text-align:right;font-size:16px;font-weight:bold">Total Fees</td>
                                    <td style="text-align:left;font-size:16px;font-weight:bold"> @total </td>
                                     
                                </tr>
                            </tbody>
                        </table>





                    </div>
                    <div class="col-md-2   offset-md-3 mt-4">
                        <a asp-action="addCourse" asp-controller="StudentCourse" asp-route-tid="@Model.EncrptedData" class="btn btn-danger btn-block text-white">Back</a>

                    </div>
                    <div class="col-md-4 mt-4">
                         @if (Model.studentapplyList != null && Model.studentapplyList.Count > 0)
                                {
                        <input type="submit" class="btn btn-success btn-block text-white"
                               id="btnl" name="commandName" value="Pay&Next" />
                                }

                    </div>
                </div>



            </div>
        </div>


    </div>

</form>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script type="text/javascript">

    function deleteCourse(varcourseID, varappo, obj) {

        if (confirm("Are you sure !")) {
            var models = {};
            models.CourseId = Number(varcourseID);
            models.AppNo = varappo;

            if (varappo != null && varappo != '') {
                $.ajax({
                    type: "POST",
                    url: '@Url.Content("~/StudentCourse/deletestdChooseCourse")',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    processData: false,
                    data: JSON.stringify(models),
                    //headers: { "Authorization": localStorage.getItem('token') },
                    success: function (result) {
                        if (result == 1) {
                            obj.parentNode.parentNode.remove();
                        }

                    }, error: function () {
                        alert("There was error !");
                    }
                });
            }
        }
        return false;
    }


</script>

