@model StudentSelectSubjectModel
@{
    ViewData["Title"] = "AdmissionForm";
}


<form asp-action="stdSubjects" asp-controller="StudentCourse" method="post">

    <div class="container p-3">
        <ul class="steps">

            <li class="step">
                <div class="step-content">
                    <span class="step-circle">1</span>
                    <span class="step-text">Profile</span>
                </div>

            </li>

            <li class="step">
                <div class="step-content">
                    <span class="step-circle">2</span>
                    <span class="step-text">Qualification</span>
                </div>

            </li>
            <li class="step">
                <div class="step-content">
                    <span class="step-circle">3</span>
                    <span class="step-text">Weightage</span>
                </div>

            </li>
            <li class="step">
                <div class="step-content">
                    <span class="step-circle">4</span>
                    <span class="step-text">Photo</span>
                </div>

            </li>
            <li class="step ">
                <div class="step-content">
                    <span class="step-circle">5</span>
                    <span class="step-text">Add Course</span>
                </div>
            </li>

            <li class="step ">
                <div class="step-content">
                    <span class="step-circle">6</span>
                    <span class="step-text">Add College</span>
                </div>

            </li>
            <li class="step step-active">
                <div class="step-content">
                    <span class="step-circle">7</span>
                    <span class="step-text">Add Subject</span>
                </div>

            </li>

            <li class="step">
                <div class="step-content">
                    <span class="step-circle">8</span>
                    <span class="step-text">View Form</span>
                </div>

            </li>

            <li class="step">
                <div class="step-content">
                    <span class="step-circle" style="font-size:12px;color:crimson;font-weight:bold">Log Out</span>
                    <span class="step-text">
                        <a asp-action="stdlogout" asp-controller="Registration" style="font-size:12px;color:crimson;font-weight:bold;font-style:normal">Click Here !</a>

                    </span>
                </div>

            </li>
        </ul>



        <div class="text-center mt-5">
            <h2>Admission Cum Web Registration Form - (2023)</h2>

        </div>
        <div class="card">
            <div class="card-header bg-primary text-white">
                Registration
            </div>
            <div class="card-body">
                <h5 class="card-title">
                    Apply for Course
                </h5>
                <hr />


                @if (Model.Status < 0)
                {
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <span class="text-danger" style="font-weight:bold">@Model.Msg</span>
                            </div>
                        </div>
                    </div>
                }
                

                <div class="row">


                    <div class="col-sm-12 text-center border  p-2">
                        @Html.HiddenFor(x=>x.EncrptedData)
                        @Html.HiddenFor(x=>x.ApplicationNo)
                        @Html.HiddenFor(x=>x.Ccode)
                        @Html.HiddenFor(x=>x.CourseID)
                        <table class="data-table table table-bordered stripe hover nowrap">
                            <thead>
                                <tr>
                                    <th class="table-plus datatable-nosort">Sr.No.</th>
                                    <th>Code  </th>
                                    <th>College  </th>
                                    <th>Course  </th>
                                    <th>Main Subject</th>
                                    <th> Vocational </th>
                                    <th>Co-Curricular Subject </th>
                                    @*<th colspan="2">Action</th>*@

                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    var srno = 0;
                                    var total = 0;
                                }
                                @if (Model.stdapplycolsubList != null && Model.stdapplycolsubList.Count > 0)
                                {
                                    

                                    foreach (var item in Model.stdapplycolsubList)
                                    {
                                        <tr>
                                            <td class="table-plus">@(srno + 1)</td>
                                            <td>@item.CCode</td>
                                            <td style="text-align:left"><p style="text-align:justify-all;font-weight:bold">@item.CollegeName</p></td>

                                            <td class="table-plus">@item.CourseName</td>
                                            <td>
                                                <select class="form-select major" aria-label="Default select example" onchange="return setOnlyOnMajor(this)" asp-for="@Model.stdapplycolsubList[srno].MajorSubjectID" asp-items="@(new SelectList(ViewBag.Majors,"SubjectId","Subject"))">
                                                </select>
                                            </td>
                                            <td>
                                                <select class="form-select" aria-label="Default select example" asp-for="@Model.stdapplycolsubList[srno].SkillSubjectID" asp-items="@(new SelectList(ViewBag.Skills,"SubjectId","Subject"))">
                                                </select>
                                            </td>
                                            <td>
                                                <select class="form-select" aria-label="Default select example" asp-for="@Model.stdapplycolsubList[srno].CoSubjectID" asp-items="@(new SelectList(ViewBag.CoSubjects,"SubjectId","Subject"))">
                                                </select>

                                                <input type="hidden" asp-for="@Model.stdapplycolsubList[srno].ApplicationNo" />
                                                <input type="hidden" asp-for="@Model.stdapplycolsubList[srno].CourseId" />
                                                <input type="hidden" asp-for="@Model.stdapplycolsubList[srno].CCode" />
                                            </td>
                                            

                                        </tr>
                                        srno = srno + 1;
                                         
                                    }
                                }
                                
                            </tbody>
                        </table>

                        </div>
                    <div class="col-md-2   offset-md-3 mt-4">
                        <a asp-action="stdsubjectSelection" asp-controller="StudentCourse" asp-route-tid="@Model.EncrptedData" class="btn btn-danger btn-block text-white">Back</a>
                   
                    </div>
                    <div class="col-md-4 mt-4">

                  
                        <input type="submit" class="btn btn-success btn-block text-white"
                        id="btnl" name="commandName" value="Save&Next" /> 

                    </div>
                </div>
                


            </div>
        </div>


    </div>

</form>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script type="text/javascript">

    function setOnlyOnMajor(obj) {

          
        $('select.major').each(function () {
        
            if ($(this)[0].id != obj.id) {
                 
                $(this).val('0');
            }
             
        });
    


        return false;
    }


</script>