@model StudentMastersDTO
@{
    ViewData["Title"] = "AdmissionForm";
    Layout = "_Public";
}
<html>
<head>
    <style>
        td, th {
            padding: 3px 5px !important;
        }

        th {
            border-right: 1px solid #000 !important;
        }


        body {
            margin: 0;
            padding: 0;
            background-color: #FAFAFA;
            font: 12pt "Tahoma";
        }

        * {
            box-sizing: border-box;
            -moz-box-sizing: border-box;
        }

        .page {
            width: 21cm;
            min-height: 29.7cm;
            padding: 2cm;
            margin: 1cm auto;
            border: 1px #D3D3D3 solid;
            border-radius: 5px;
            background: white;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        }

        .subpage[size="A4"] {
            padding: 1cm;
            border: 5px red solid;
            height: 256mm;
            outline: 2cm #FFEAEA solid;
        }

        /*.subpage {
                        padding: 1cm;
                        //border: 5px red solid;
            height: 256mm;
            outline: 2cm #FFEAEA solid;
                    }*/



        @@page {
            size: A4;
            margin: 0;
        }

        @@media print {
            .page {
                margin: 0;
                border: initial;
                border-radius: initial;
                width: initial;
                min-height: initial;
                box-shadow: initial;
                background: initial;
                page-break-after: always;
            }
        }
    </style>

</head>
<body>


    <div id="DivPrint" style=" background-color: #fff; color: #000; font-family: Arial; font-size: 14px">
        <div class="page">
            <div class="subpage">

                <table style="width:100%">
                    <tr>
                        <td style="width:2%;vertical-align:top;text-align:center;border:0px solid #000;border-bottom :0px solid #000; padding:5px;margin-left:1px;  line-height:21px;font-weight:bold;font-size: 16px">
                            <img src="/logo_header.png" style="width: 95px; height: 95px;margin-top:1px" alt="" />
                        </td>
                        <td style="width:98%;text-align:center;vertical-align:top;border:0px solid #000;border-bottom :0px solid #000;padding:5px;margin-left:1px;  line-height:30px;font-weight:bold;font-size:21px">
                            DR. BHIMRAO AMBEDKAR UNIVERSITY, AGRA <br />
                            डॉ० भीमराव आंबेडकर विश्वविद्यालय, आगरा<br />
                            (Called At The Place Of Agra University, Agra) <br />

                        </td>

                    </tr>


                </table>


                <table style="width:100%;margin-top:10px">
                    <tr>
                        <td style="width:50%;text-align:left;white-space:nowrap">
                            <span style="text-align:center;vertical-align:top;border:0px solid #000;border-bottom :0px solid #000;padding:5px;margin-left:1px;  line-height:0px;font-weight:bold;font-size: 14px">
                                Application No. &nbsp; @Model.ApplicationNo
                            </span>
                        </td>
                        <td style="width:50%;text-align:right">
                            <span style="text-align:center;vertical-align:top;border:0px solid #000;border-bottom :0px solid #000;padding:5px;margin-left:1px;  line-height:0px;font-weight:bold;font-size: 14px">
                                Appl. Date: &nbsp; @Model.PaymentDate
                            </span>
                        </td>


                    </tr>

                </table>
                <hr style="margin:0.3rem 0 0.5rem 0" />
                <table style="width:100%">
                    <tr>

                        <td style="text-align:center;vertical-align:top;border:0px solid #000;border-bottom :0px solid #000;padding:5px;margin-left:1px;  font-weight:bold;font-size: 18px">
                            <h2 style="font-family:Arial;font-weight:bold;font-size:16px">Admission Web Registration Form @Model.Session </h2>
                        </td>

                    </tr>
                </table>


                <table style="width: 100%;" class="table table-bordered">
                    <tbody>
                        <tr>
                            <th style="width:10%;vertical-align:top;text-align:left  ;border:0px solid #000;border-bottom :0px solid #000; padding:5px;margin-left:1px;  font-weight:bold;font-size: 13px"> Alloted College</th>
                            <td colspan="2" style="width:60%;vertical-align:top;border:0px solid #000;border-bottom :0px solid #000;padding:5px;margin-left:1px;  line-height:16px;font-weight:bold;font-size: 13px; text-transform:uppercase">
                                [@Model.CollegeCode]-@Model.CollegeName

                            </td>
                        </tr>

                        <tr>

                            <th style="width:20%;vertical-align:top;text-align:left  ;border:0px solid #000;border-bottom :0px solid #000; padding:5px;margin-left:1px;  font-weight:bold;font-size: 14px"> WRN No.</th>
                            <td style="width:60%;vertical-align:top;border:0px solid #000;border-bottom :0px solid #000;padding:5px;margin-left:1px;  line-height:18px;font-weight:bold;font-size: 16px; text-transform:uppercase">
                                @Model.WRN
                            </td>

                            <td style="vertical-align: top; " rowspan="9" width="150">
                                @{
                                    var img = WebConfigSetting.ImgCloudPath + ViewBag.Photo;
                                }
                                <img id="Image1" src="@img" alt="Photograph" style="width:150px;" /><br />

                                @if (ViewBag.Signature != null)
                                {
                                    var sgn = WebConfigSetting.ImgCloudPath + ViewBag.Signature;
                                    <img id="Image2" src="@sgn" alt="Signature" style="height:50px;width:150px;" />
                                }
                            </td>

                        </tr>
                        <tr>

                            <th style="width:10%;vertical-align:top;text-align:left  ;border:0px solid #000;border-bottom :0px solid #000; padding:5px;margin-left:1px;  font-weight:bold;font-size: 13px"> Name </th>

                            <td style="width:60%;vertical-align:top;border:0px solid #000;border-bottom :0px solid #000;padding:5px;margin-left:1px;  line-height:16px;font-weight:bold;font-size: 13px; text-transform:uppercase">
                                @Model.Name
                            </td>
                        </tr>
                        <tr>
                            <th style="width:10%;vertical-align:top;text-align:left  ;border:0px solid #000;border-bottom :0px solid #000; padding:5px;margin-left:1px;  font-weight:bold;font-size: 13px"> Registration No</th>
                            <td style="width:60%;vertical-align:top;border:0px solid #000;border-bottom :0px solid #000;padding:5px;margin-left:1px;  line-height:16px;font-weight:bold;font-size: 13px; text-transform:uppercase">
                                @Model.Roll
                            </td>
                        </tr>

                        <tr>
                            <th style="width:10%;vertical-align:top;text-align:left  ;border:0px solid #000;border-bottom :0px solid #000; padding:5px;margin-left:1px;  font-weight:bold;font-size: 13px"> Father's Name</th>
                            <td style="width:60%;vertical-align:top;border:0px solid #000;border-bottom :0px solid #000;padding:5px;margin-left:1px;  line-height:16px;font-weight:bold;font-size: 13px; text-transform:uppercase">
                                @Model.FatherName
                            </td>
                        </tr>

                        <tr>
                            <th style="width:10%;vertical-align:top;text-align:left  ;border:0px solid #000;border-bottom :0px solid #000; padding:5px;margin-left:1px;  font-weight:bold;font-size: 13px"> Mother's Name</th>
                            <td style="width:60%;vertical-align:top;border:0px solid #000;border-bottom :0px solid #000;padding:5px;margin-left:1px;  line-height:16px;font-weight:bold;font-size: 13px; text-transform:uppercase">
                                @Model.MotherName
                            </td>
                        </tr>
                        <tr>

                            <th style="width:10%;vertical-align:top;text-align:left  ;border:0px solid #000;border-bottom :0px solid #000; padding:5px;margin-left:1px;  font-weight:bold;font-size: 13px"> Date of Birth</th>
                            <td style="width:60%;vertical-align:top;border:0px solid #000;border-bottom :0px solid #000;padding:5px;margin-left:1px;  line-height:16px;font-weight:bold;font-size: 13px; text-transform:uppercase">
                                @Model.DOB.Value.ToString("dd/MM/yyy")
                            </td>
                        </tr>


                        <tr>

                            <th style="width:10%;vertical-align:top;text-align:left  ;border:0px solid #000;border-bottom :0px solid #000; padding:5px;margin-left:1px;  font-weight:bold;font-size: 13px"> Email Id</th>
                            <td style="width:60%;vertical-align:top;border:0px solid #000;border-bottom :0px solid #000;padding:5px;margin-left:1px;  line-height:16px;font-weight:bold;font-size: 13px;">
                                @Model.Email

                            </td>
                        </tr>



                        <tr>

                            <th style="width:10%;vertical-align:top;text-align:left  ;border:0px solid #000;border-bottom :0px solid #000; padding:5px;margin-left:1px;  font-weight:bold;font-size: 13px"> Gender</th>
                            <td style="width:60%;vertical-align:top;border:0px solid #000;border-bottom :0px solid #000;padding:5px;margin-left:1px;  line-height:16px;font-weight:bold;font-size: 13px; text-transform:uppercase">

                                @Model.Gender

                            </td>


                        </tr>
                        <tr>
                            <th style="width:10%;vertical-align:top;text-align:left  ;border:0px solid #000;border-bottom :0px solid #000; padding:5px;margin-left:1px;  font-weight:bold;font-size: 13px"> Mobile</th>
                            <td style="width:60%;vertical-align:top;border:0px solid #000;border-bottom :0px solid #000;padding:5px;margin-left:1px;  line-height:16px;font-weight:bold;font-size: 13px; text-transform:uppercase">
                                @Model.Mobile

                            </td>
                        </tr>

                        <tr>

                            <th style="width:10%;vertical-align:top;text-align:left  ;border:0px solid #000;border-bottom :0px solid #000; padding:5px;margin-left:1px;  font-weight:bold;font-size: 13px">Alter.Mobile</th>
                            <td colspan="2" style="width:60%;vertical-align:top;border:0px solid #000;border-bottom :0px solid #000;padding:5px;margin-left:1px;  line-height:16px;font-weight:bold;font-size: 13px; text-transform:uppercase">
                                @Model.AltMobile
                            </td>
                        </tr>


                        <tr>
                            <th style="width:10%;vertical-align:top;text-align:left  ;border:0px solid #000;border-bottom :0px solid #000; padding:5px;margin-left:1px;  font-weight:bold;font-size: 13px">Aadhar Card </th>
                            <td colspan="2" style="width:60%;vertical-align:top;border:0px solid #000;border-bottom :0px solid #000;padding:5px;margin-left:1px;  line-height:16px;font-weight:bold;font-size: 13px; text-transform:uppercase">
                                @Model.Aadhar
                            </td>

                        </tr>
                        <tr>
                            <th style="width:10%;vertical-align:top;text-align:left  ;border:0px solid #000;border-bottom :0px solid #000; padding:5px;margin-left:1px;  font-weight:bold;font-size: 13px"> Category </th>
                            <td colspan="2" style="width:60%;vertical-align:top;border:0px solid #000;border-bottom :0px solid #000;padding:5px;margin-left:1px;  line-height:16px;font-weight:bold;font-size: 13px; text-transform:uppercase">

                                @Model.Category
                            </td>

                        </tr>

                        <tr>
                            <th style="width:10%;vertical-align:top;text-align:left  ;border:0px solid #000;border-bottom :0px solid #000; padding:5px;margin-left:1px;  font-weight:bold;font-size: 13px"> Communication Address </th>
                            <td colspan="2" style="width:60%;vertical-align:top;border:0px solid #000;border-bottom :0px solid #000;padding:5px;margin-left:1px;  line-height:16px;font-weight:bold;font-size: 13px; text-transform:uppercase">

                                <p>
                                    @Model.CurrentAddress
                                    State:- @Model.CState
                                    City:- @Model.CDistrict
                                    PinCode:- @Model.CPin
                                </p>



                            </td>

                        </tr>

                        <tr>
                            <th style="width:10%;vertical-align:top;text-align:left  ;border:0px solid #000;border-bottom :0px solid #000; padding:5px;margin-left:1px;  font-weight:bold;font-size: 13px"> Permanent Address </th>
                            <td colspan="2" style="width:60%;vertical-align:top;border:0px solid #000;border-bottom :0px solid #000;padding:5px;margin-left:1px;  line-height:16px;font-weight:bold;font-size: 13px; text-transform:uppercase">

                                <p>
                                    @Model.ParmanentAddress
                                    State:- @Model.PState
                                    City:- @Model.PDistrict
                                    PinCode:- @Model.PPin
                                </p>
                            </td>

                        </tr>


                    </tbody>
                </table>

                <span style="font-size:14px;font-weight:bold">Qualification Details</span>
                <table style="width: 100%;" class="table table-bordered">
                    <thead>
                        <tr>
                            <th style="width:10%;vertical-align:top;text-align:left  ;border-bottom:1px solid #000;border-top :1px solid #000;border-left :1px solid #000; padding:5px;margin-left:1px;  font-weight:bold;font-size: 14px">S.No.</th>
                            <th style="width:10%;vertical-align:top;text-align:left  ;border-bottom:1px solid #000;border-top :1px solid #000; padding:5px;margin-left:1px;  font-weight:bold;font-size: 14px">Qualification</th>
                            <th style="width:10%;vertical-align:top;text-align:left  ;border-bottom:1px solid #000;border-top :1px solid #000; padding:5px;margin-left:1px;  font-weight:bold;font-size: 14px">Board/University</th>
                            <th style="width:10%;vertical-align:top;text-align:left  ;border-bottom:1px solid #000;border-top :1px solid #000; padding:5px;margin-left:1px;  font-weight:bold;font-size: 14px">Roll No.</th>
                          @*  <th style="width:10%;vertical-align:top;text-align:left  ;border-bottom:1px solid #000;border-top :1px solid #000; padding:5px;margin-left:1px;  font-weight:bold;font-size: 14px">Evaluation Type	</th>*@
                            <th style="width:10%;vertical-align:top;text-align:left  ;border-bottom:1px solid #000;border-top :1px solid #000; padding:5px;margin-left:1px;  font-weight:bold;font-size: 14px">Total Marks</th>
                            <th style="width:10%;vertical-align:top;text-align:left  ;border-bottom:1px solid #000;border-top :1px solid #000; padding:5px;margin-left:1px;  font-weight:bold;font-size: 14px">Mark Obt</th>
                            <th style="width:10%;vertical-align:top;text-align:left  ;border-bottom:1px solid #000;border-top :1px solid #000; padding:5px;margin-left:1px;  font-weight:bold;font-size: 14px">Passing Year</th>
                            <th style="width:10%;vertical-align:top;text-align:left  ;border-bottom:1px solid #000;border-top :1px solid #000; padding:5px;margin-left:1px;  font-weight:bold;font-size: 14px">Obtained %</th>
                        </tr>
                    </thead>
                    <tbody>

                        @{
                            int j = 0;
                        }
                        @if (Model != null)
                        {
                            if (Model.QualifationList != null)
                            {
                                foreach (var item in Model.QualifationList)
                                {
                                    j++;



                                    <tr>
                                        <td style="vertical-align:top;border:1px solid #000;border-bottom :0px solid #000;padding:5px;margin-left:1px;  line-height:21px;font-weight:bold;font-size: 12px; text-transform:uppercase">
                                            @j
                                        </td>
                                        <td style="vertical-align:top;border:1px solid #000;border-bottom :0px solid #000;padding:5px;margin-left:1px;  line-height:21px;font-weight:bold;font-size: 12px; text-transform:uppercase">
                                            @item.DocName
                                        </td>
                                        <td style="vertical-align:top;border:1px solid #000;border-bottom :0px solid #000;padding:5px;margin-left:1px;  line-height:21px;font-weight:bold;font-size: 12px; text-transform:uppercase">
                                            @item.Board_Universty_Name

                                        </td>
                                        <td style="vertical-align:top;border:1px solid #000;border-bottom :0px solid #000;padding:5px;margin-left:1px;  line-height:21px;font-weight:bold;font-size: 12px; text-transform:uppercase">
                                            @item.PreRollNo

                                        </td>
                                       @* <td style="vertical-align:top;border:1px solid #000;border-bottom :0px solid #000;padding:5px;margin-left:1px;  line-height:21px;font-weight:bold;font-size: 12px; text-transform:uppercase">
                                            @if (item.IsCGPA == true)
                                            {
                                                <span>CGPA</span>

                                            }
                                            else
                                            {
                                                <span>Percentage</span>
                                            }
                                        </td>*@
                                        <td style="vertical-align:top;border:1px solid #000;border-bottom :0px solid #000;padding:5px;margin-left:1px;  line-height:21px;font-weight:bold;font-size: 12px; text-transform:uppercase">
                                            @item.TotalMarks

                                        </td>

                                        <td style="vertical-align:top;border:1px solid #000;border-bottom :0px solid #000;padding:5px;margin-left:1px;  line-height:21px;font-weight:bold;font-size: 12px; text-transform:uppercase">
                                            @item.MarkObt
                                        </td>
                                        <td style="vertical-align:top;border:1px solid #000;border-bottom :0px solid #000;padding:5px;margin-left:1px;  line-height:21px;font-weight:bold;font-size: 12px; text-transform:uppercase">
                                            @item.PassingYear

                                        </td>
                                        <td style="vertical-align:top;border:1px solid #000;border-bottom :0px solid #000;padding:5px;margin-left:1px;  line-height:14px;font-weight:bold;font-size: 12px; text-transform:uppercase">
                                            <span> @item.Percentage %</span>@if (item.IsCGPA == true)
                                            {
                                                <span>(CGPA)</span>

                                            }
                                            else
                                            {
                                                <span>(Per)</span>
                                            }
                                        </td>

                                    </tr>


                                }
                            }
                        }
                    </tbody>
                </table>

                <span style="font-size:14px;font-weight:bold">
                    Payment Details(<strong>
                        @{
                            var status = Model.IsPaid == true ? "Paid" : "UnPaid";
                        }
                        @status
                    </strong>)
                </span>
                <table style="width:100%;" class="table table-bordered">
                    <thead>
                        <tr>
                            <th style="width:10%;vertical-align:top;text-align:left  ;border-bottom:1px solid #000;border-top :1px solid #000;border-left :1px solid #000; padding:5px;margin-left:1px;  font-weight:bold;font-size: 13px">
                                Transaction No.
                            </th>
                            <th style="width:10%;vertical-align:top;text-align:left  ;border-bottom:1px solid #000;border-top :1px solid #000; padding:5px;margin-left:1px;  font-weight:bold;font-size: 13px">PaymentReferenceNo</th>
                            <th style="width:10%;vertical-align:top;text-align:left  ;border-bottom:1px solid #000;border-top :1px solid #000; padding:5px;margin-left:1px;  font-weight:bold;font-size: 13px">
                                Amount
                            </th>

                            <th style="width:10%;vertical-align:top;text-align:left  ;border-bottom:1px solid #000;border-top :1px solid #000; padding:5px;margin-left:1px;  font-weight:bold;font-size: 13px">Date</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td style="vertical-align:top;border:1px solid #000;border-bottom :0px solid #000;padding:5px;margin-left:1px;  line-height:14px;font-weight:bold;font-size: 12px; text-transform:uppercase">
                                @Model.TransactionId
                            </td>

                            <td style="vertical-align:top;border:1px solid #000;border-bottom :0px solid #000;padding:5px;margin-left:1px;  line-height:14px;font-weight:bold;font-size: 12px; text-transform:uppercase">
                                @Model.PaymentReferenceNo
                            </td>
                            <td style="vertical-align:top;border:1px solid #000;border-bottom :0px solid #000;padding:5px;margin-left:1px;  line-height:14px;font-weight:bold;font-size: 12px; text-transform:uppercase">
                                @Model.Amount/-
                            </td>
                            <td style="vertical-align:top;border:1px solid #000;border-bottom :0px solid #000;padding:5px;margin-left:1px;  line-height:12px;font-weight:bold;font-size: 12px; text-transform:uppercase">
                                @Model.PaymentDate
                            </td>
                        </tr>




                    </tbody>
                </table>

                <table style="width: 100%;">
                    <tr>
                        <td style="width:50%;text-align:left">
                            @if (ViewBag.Signature != null)
                            {
                                var sgn = WebConfigSetting.ImgCloudPath + ViewBag.Signature;
                                <img id="Image2" src="@sgn" alt="Signature" style="height:50px;width:150px;border-width:0px;" />
                            }
                            <p>
                                Signature of Candidate<br />
                                Date:-@DateTime.Now.ToString("dd/MM/yyyy")
                            </p>
                        </td>
                        <td style="width:50%;text-align:right">
                            <img src="@String.Format("data:image/png;base64,{0}",
                                Convert.ToBase64String(Model.qcore))" height="100" width="100" />

                        </td>
                    </tr>
                </table>

            </div>

        </div>








    </div>

</body>
</html>